((*- extends 'latex/index.tex.j2' -*))

((*- block packages -*))
((( super() )))
    \setmonofont{DejaVu Sans Mono}

    \DeclareMathOperator*{\argmin}{arg\,min}
    \DeclareMathOperator*{\argmax}{arg\,max}
((*- endblock packages -*))
